<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.5.4/css/layui.css}">
    <script th:src="@{/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/util/form.js}" charset="utf-8"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a th:href="@{/mall}">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login" th:if="${session.user==null}"><a th:href="@{/mall/toLogin}">登录</a></div>
            <div class="login" th:if="${session.user!=null}">[[${session.user.userName}]]</div>

            <div class="sp-cart">
                <form name="shoppingCartForm" th:action="@{/mall/toShoppingCart}" method="post">
                    <input name="userId" class="inputUserId" value="" hidden>
                    <button type="button" id="toShoppingCart" style="font-size: 14px;border:0;cursor:pointer;">
                        购物车
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="HUT">
                    <img th:src="@{/images/mallImg/logo.png}">
                </a>
            </h1>

            <div class="mallSearch">
                <form th:action="@{/mall/search}" class="layui-form" novalidate>
                    <input type="text" name="bookInfo" lay-verify="required" autocomplete="off"
                           class="layui-input" value="" placeholder="请输入需要的教材">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content content-nav-base datails-content">
    <br>
    <div class="main-nav">
        <div class="inner-cont0">
        </div>
    </div>
    <div class="data-cont-wrap w1200">
        <br><br>
        <div class="product-intro layui-clear">
            <div class="preview-wrap">
                <img th:src="@{${book.bookImg}}" width="400px" height="380px">
            </div>
            <div class="itemInfo-wrap">
                <div class="itemInfo">
                    <div class="title">
                        <h4>[[${book.bookIntroduce}]]</h4>
                    </div>
                    <div class="summary">
                        <p class="address-box"><span>教材名</span><span
                                style="font-size: 18px; color: #1b1d21  ">[[${book.bookName}]]</span>
                        </p>
                        <p class="address-box"><span>作&nbsp;&nbsp;&nbsp;&nbsp;者</span><span style="font-size: 12px;">[[${book.bookAuthor}]]</span>
                        </p>
                        <p class="activity"><span>售&nbsp;&nbsp;&nbsp;&nbsp;价</span><strong class="price"><i>￥</i>[[${book.bookPrice}]]</strong>
                        </p>

                    </div>
                    <div class="choose-attrs">
                        <div class="number layui-clear"><span class="title">数&nbsp;&nbsp;&nbsp;&nbsp;量</span>
                            <div class="number-cont">
                                <span class="cut btn">-</span>
                                <input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                       maxlength="4" type="" name="" id="buyNumber" value="1">
                                <span class="add btn">+</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="choose-btns">
                        <button type="button" id="buyNow" class="layui-btn layui-btn-primary purchase-btn">立刻购买</button>
                        <button type="button" id="addShoppingCart" class="layui-btn  layui-btn-danger car-btn"><i
                                class="layui-icon layui-icon-cart-simple"></i>加入购物车
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--        layui-field-title-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend><h4 style="color: #888888">教材详情</h4></legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="nob" lay-size="lg">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>教材名称：[[${book.bookName}]]</td>
                        <td>价格：￥[[${book.bookPrice}]]</td>
                        <td>库存：[[${book.bookStock}]]</td>
                    </tr>
                    <tr>
                        <td>作者：[[${book.bookAuthor}]]</td>
                        <td>出版社：[[${book.bookPress}]]</td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="2">简介：[[${book.bookIntroduce}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>


    </div>
</div>
</div>
<input id="stock" hidden th:value="${book.bookStock}"/>
<div hidden class="userId" th:if="${session.user==null}"></div>
<div hidden class="userId" th:if="${session.user!=null}">[[${session.user.userId}]]</div>
<script th:inline="javascript">
    layui.config({
        base: '/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'jquery', 'layer'], function () {
        var mm = layui.mm, $ = layui.$, layer = layui.layer;
        var userId = $('.userId').text();
        //这个地方有个问题  库存要详细比对   购物车有的话 就得算上购物车的再决定库存  也可以在购物车里面做个事件  大于就写成最大
        $('.number-cont .btn').on('click', function () {
            if ($(this).hasClass('add')) {
                var cur = $('.number-cont input').val();
                if (cur < $('#stock').val()) {
                    cur++;
                    $('.number-cont input').val(cur);
                }

            } else {
                var cur = $('.number-cont input').val();
                if (cur > 1) {
                    cur--;
                    $('.number-cont input').val(cur);
                }
            }

        });

        $('#toShoppingCart').on('click', function () {
            var userId = $('.userId').text();
            if (userId == '') {   //为空代表没有登陆 这时候只需要提交表单 shiro会自动拦截
                $("form[name='shoppingCartForm']").submit();
            } else {
                $.post("/mall/checkShoppingCart", {"userId": userId}, function (result) {
                    if (result == 0) {
                        layer.tips("购物车为空", "#toShoppingCart", {
                            tips: [3, '#000000'] //配置气泡位置和颜色
                        });
                    } else {
                        $(".inputUserId").val(userId);
                        $("form[name='shoppingCartForm']").submit();
                    }
                });
            }

        });

        $('#buyNow').on('click', function () {
            var bookId = [[${book.bookId}]];
            var buyNumber = $('#buyNumber').val();
            var bookPrice = [[${book.bookPrice}]];
            var bookName = [[${book.bookName}]];
            post("/mall/toBuyNow ", {
                "bookId": bookId,
                "buyNumber": buyNumber,
                "bookPrice": bookPrice,
                "bookName": bookName
            });
        })

        $('#addShoppingCart').on('click', function () {
            if (userId == '') {   //为空代表没有登陆 这时候只需要提交表单 shiro会自动拦截
                $("form[name='shoppingCartForm']").submit();
            } else {
                var bookId = [[${book.bookId}]];
                var buyNumber = $('#buyNumber').val();
                $.post("/mall/toAddShoppingCartItem", {
                    "userId": userId,
                    "bookId": bookId,
                    "buyNumber": buyNumber
                }, function (result) {
                    if (result == 1) {
                        layer.msg("添加成功");
                    } else if (result == 0) {
                        layer.msg("添加失败");
                    } else if (result == 5) {
                        layer.msg("购物车已满")
                    }
                });
            }
        })
    });
</script>
</body>
</html>