<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.5.4/css/layui.css}">
    <script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <style>
        .bookMain {
            overflow: hidden;
            line-height: 24px;
            padding: 0 20px;
        }
    </style>
</head>
<body>

<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a th:href="@{/mall}">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login" th:if="${session.user==null}"><a th:href="@{/mall/toLogin}">登录</a></div>
            <div class="login" th:if="${session.user!=null}">[[${session.user.userName}]]</div>
            <div class="sp-cart">
                <form name="shoppingCartForm" th:action="@{/mall/toShopCart}">
                    <button type="button" id="toShoppingCart" style="font-size: 14px;border:0;cursor:pointer;">
                        购物车
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="HUT">
                    <img th:src="@{/images/mallImg/logo.png}">
                </a>
            </h1>

            <div class="mallSearch">
                <form th:action="@{/mall/search}" class="layui-form" novalidate>
                    <input type="text" name="bookInfo"  lay-verify="required" autocomplete="off"
                           class="layui-input" value="" placeholder="请输入需要的教材">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content content-nav-base buytoday-content">
    <div id="list-cont">
        <div class="main-nav">
            <div class="inner-cont0">
            </div>
        </div>
        <div class="banner-box">
            <div class="banner" th:style="'background:url(' + @{/images/mallImg/bg.jpg} + ')'"></div>
        </div>
        <div class="product-list-box">
            <div class="product-list w1200">
                <div class="tab-title">
                    <a href="javascript:;" class="active tuang" data-content="newBookList">最新上架</a>
                    <a href="javascript:;" data-content="salesMaxList">销量最高</a>
                </div>
                <div class="list-cont" cont='newBookList'>
                    <div class="item-box layui-clear">
                        <div class="item" th:each="book:${newBookList}">
                            <img th:src="@{${book.bookImg}}" alt="" width="290px" height="320px"><br>
                            <div class="text-box">
                                <p class="bookMain" style="font-size: 20px;">
                                    <span class="Ori-pic"><a th:href="@{/mall/Details(bookId=${book.bookId})}">[[${book.bookName}]]</a></span>
                                </p>
                                <p class="bookMain" style="font-size: 12px;">
                                    <span style="color: #aaa;">[[${book.bookAuthor}]]</span>
                                </p>
                                <p class="plic bookMain" style="font-size: 12px;">
                                    <span class="ciur-pic" style="color: #c30;">￥[[${book.bookPrice}]]</span>
                                    <span class="Ori-pic"
                                          style="color: #aaa;">&nbsp;&nbsp;库存：[[${book.bookStock}]]</span>
                                    <span class="discount" style="width: 50px;"><i
                                            class="layui-icon layui-icon-cart"></i></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-cont layui-hide" cont='salesMaxList'>
                    <div class="item-box layui-clear">
                        <div class="item" th:each="book:${salesMaxList}">
                            <img th:src="@{${book.bookImg}}" alt="" width="290px" height="320px"><br>
                            <div class="text-box">
                                <p class="bookMain" style="font-size: 20px;">
                                    <span class="Ori-pic"><a th:href="@{/mall/Details(bookId=${book.bookId})}">[[${book.bookName}]]</a></span>
                                </p>
                                <p class="bookMain" style="font-size: 12px;">
                                    <span style="color: #aaa;">[[${book.bookAuthor}]]</span>
                                </p>
                                <p class="plic bookMain" style="font-size: 12px;">
                                    <span class="ciur-pic" style="color: #c30;">￥[[${book.bookPrice}]]</span>
                                    <span class="Ori-pic"
                                          style="color: #aaa;">&nbsp;&nbsp;库存：[[${book.bookStock}]]</span>
                                    <span class="discount" style="width: 50px;"><i
                                            class="layui-icon layui-icon-cart"></i></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-wrap">
                <div class="footer w1200">
                    <div class="title">
                        <h3>特别推荐</h3>
                    </div>
                    <div class="list-box layui-clear" id="footerList">
                        <div class="item" th:each="book:${stockMaxList}">
                            <img th:src="@{${book.bookImg}}" width="320px" height="400px">
                            <div class="text">       <!-- book + Stat状态变量  有index等属性-->
                                <div class="right-title-number">[[${bookStat.count}]]</div>
                                <div class="commod">
                                    <p style="overflow: hidden; height: 48px; width: 220px;"
                                       th:title="${book.bookIntroduce}">
                                        <a th:href="@{/mall/Details(bookId=${book.bookId})}">[[${book.bookIntroduce}]]</a>
                                    </p>
                                    <span style="color: #c30;">￥[[${book.bookPrice}]]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hidden class="userId" th:if="${session.user==null}"></div>
    <div hidden class="userId" th:if="${session.user!=null}">[[${session.user.userId}]]</div>
    <script>
        layui.use(['jquery', 'layer'], function () {
            var $ = layui.$,
                layer = layui.layer;

            // 模块切换
            $('body').on('click', '*[data-content]', function () {
                $(this).addClass('active').siblings().removeClass('active')
                var dataConte = $(this).attr('data-content');
                $('*[cont]').each(function (i, item) {
                    var itemCont = $(item).attr('cont');
                    console.log(item)
                    if (dataConte === itemCont) {
                        $(item).removeClass('layui-hide');
                    } else {
                        $(item).addClass('layui-hide');
                    }
                })
            })


            $('#toShoppingCart').on('click', function () {
                var userId = $('.userId').text();
                if (userId == '') {   //为空代表没有登陆 这时候只需要提交表单 shiro会自动拦截
                    $("form[name='shoppingCartForm']").submit();
                } else {
                    $.post("/checkShoppingCart", {"userId": userId}, function (result) {
                        if (result == 0) {
                            layer.tips("购物车为空", "#toShoppingCart", {
                                tips: [3, '#000000'] //配置气泡位置和颜色
                            });
                        } else {
                            $("form[name='shoppingCartForm']").submit();
                        }
                    });
                }

            });

        });


    </script>

</div>
</body>
</html>