<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>教材类目</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.4/css/layui.css}" media="all">
</head>
<body>
<!-- 头部左侧工具栏 -->
<script type="text/html" id="toolbarDemo">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">类目ID</label>
            <div class="layui-input-inline">
                <input id="categoryId" type="text" required name="classify" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-inline">
                <a class="layui-btn" lay-submit lay-filter="data-search-btn">搜索</a>
                <button class="layui-btn data-add-btn" id="addButton" type="button">添加</button>
            </div>
        </div>
    </form>
</script>

<!--添加弹出层-->
<div style="display: none;" id="addForm" align="center">
    <form class="layui-form layui-form-pane" action="" id="addMainForm">
        <div class="layui-form-item layui-inline ">
            <br/><br/>
            <input type="text" id="addCategoryType" name="addCategoryType" lay-verify="required|number"
                   placeholder="类目编号"
                   autocomplete="off"
                   class="layui-input categoryType"><br/><br/>
            <input type="text" id="addCategoryName" name="addCategoryName" lay-verify="required" placeholder="类目名称"
                   autocomplete="off"
                   class="layui-input categoryName"><br/> <br/>
            <button type="button" class="layui-btn form-submit" lay-submit lay-filter="addSubmit" id="addSubmit">提交
            </button>
        </div>
    </form>
</div>
<!--修改弹出层-->
<div id="updateForm" align="center" style="display: none">
    <form class="layui-form layui-form-pane" action="" lay-filter="updateForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <br/><br/>
                <label class="layui-form-label">类目ID</label>
                <div class="layui-inline">
                    <input type="text" id="updateCategoryId" name="categoryId" lay-verify="required"
                           class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">类目编号</label>
                <div class="layui-inline">
                    <input type="text" id="updateCategoryType" name="categoryType" lay-verify="required|number"
                           class="layui-input categoryType">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">类目名称</label>
                <div class="layui-inline">
                    <input type="text" id="updateCategoryName" name="categoryName" lay-verify="required"
                           class="layui-input categoryName">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <button type="button" class="layui-btn form-submit" lay-submit lay-filter="updateSubmit" id="updateSubmit">
                提交
            </button>
        </div>
    </form>
</div>


<!--表格-->
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:src="@{/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script>
    layui.use(['form', 'table', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            categoryId = "";

        //表格渲染
        var mainTable = table.render({
            elem: '#test',
            url: '/getAllBookCategory?categoryId=' + categoryId,
            toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
            cellMinWidth: 120,
            defaultToolbar: ['filter', 'exports'],
            title: '用户数据表',
            cols: [
                [{
                    field: 'categoryId',
                    title: '类目ID',
                    fixed: 'left',
                    sort: true
                }, {
                    field: 'categoryType',
                    title: '类目编号'
                }, {
                    field: 'categoryName',
                    title: '类目名称'
                }, {
                    fixed: 'right',
                    title: '操作',
                    toolbar: '#barDemo'
                }]
            ],
            page: true
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function () {
            if ($('#categoryId').val() != null) {
                categoryId = $('#categoryId').val();
            }
            //刷新表单
            reload();
            //阻止表单提交
            return false;
        });


        // 监听添加操作 实现添加弹出层
        function addFunction() {
            $("#addButton").on("click", function () {
                layer.open({
                    type: 1,
                    title: '添加类目',
                    content: $('#addForm'),
                    area: ['300px', '280px'],
                    success: function () {
                        //jquery对象默认是数组形式，要选择当前对象才有reset方法
                        $("#addMainForm")[0].reset();
                    }
                });
            });
        }

        addFunction();

        //添加弹出层表单提交
        form.on('submit(addSubmit)', function (data) {
            $.post("/addBookCategory", {"bookCategory": JSON.stringify(data.field)}, function (result) {
                //刷新表单
                reload();
                layer.closeAll();
                layer.msg(result);
            });
            return false;
        });

        //异步实现编号、名称查重
        $("#addCategoryType").change(function () {
            $.post("/checkCategoryType", {"categoryType": $("#addCategoryType").val()}, function (result) {
                if (result == 1) {
                    layer.tips('已存在', '#addCategoryType', {
                        tips: [2, '#008B8B'] //配置气泡位置和颜色   FF4500 橘色也还行，但有点突兀
                    });  //若已存在 ，禁用button
                    $(".form-submit").attr("disabled", "disabled");
                } else {
                    $(".form-submit").removeAttr("disabled");
                }
            });
        });
        $("#addCategoryName").change(function () {
            $.post("/checkCategoryName", {"categoryName": $("#addCategoryName").val()}, function (result) {
                if (result == 1) {
                    layer.tips('已存在', '#addCategoryName', {
                        tips: [2, '#008B8B'] //配置气泡位置和颜色   FF4500 橘色也还行，但有点突兀
                    });
                    $(".form-submit").attr("disabled", "disabled");
                } else {
                    $(".form-submit").removeAttr("disabled");
                }
            });
        });


        //监听行工具事件  编辑和删除
        table.on('tool(test)', function (obj) {
            //获得当前行数据 所有   获取单个的话 直接 data.属性名
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定要删除吗？', {
                    btn: ['确定', '取消'] //可以无限个按钮
                }, function (index) {
                    $.post("/deleteBookCategory", {"categoryId": data.categoryId}, function (result) {
                        //刷新表单
                        // reload();
                        if (result == 1) {
                            obj.del();
                            layer.msg("删除成功");
                        }
                    });
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                //JSON.stringify(data)
                layer.open({
                    type: 1,
                    title: '修改类目',
                    content: $('#updateForm'),
                    area: ['450px', '325px'],
                    success: function () {
                        //赋值
                        form.val("updateForm", data);
                    }
                });

                //修改弹出层表单提交
                form.on('submit(updateSubmit)', function (data) {
                    $.post("/updateBookCategory", {"bookCategory": JSON.stringify(data.field)}, function (result) {
                        //刷新表单 reload();
                        //表单重新渲染会直接跳到第一页，现用方提供的update  据说对toolbar无效，之后应注意
                        obj.update({
                            categoryType: data.field.categoryType,
                            categoryName: data.field.categoryName
                        });
                        layer.closeAll();
                        layer.msg(result);
                    });
                    return false;
                });


            }
        });

        //异步实现修改表单编号、名称查重  之后将两个封装成一个方法
        $("#updateCategoryType").change(function () {
            $.post("/checkCategoryType", {"categoryType": $("#updateCategoryType").val()}, function (result) {
                if (result == 1) {
                    layer.tips('已存在', '#updateCategoryType', {
                        tips: [2, '#008B8B'] //配置气泡位置和颜色   FF4500 橘色也还行，但有点突兀
                    });  //若已存在 ，禁用button
                    $("#addSubmit").attr("disabled", "disabled");
                } else {
                    $("#addSubmit").removeAttr("disabled");
                }
            });
        });
        $("#updateCategoryName").change(function () {
            $.post("/checkCategoryName", {"categoryName": $("#updateCategoryName").val()}, function (result) {
                if (result == 1) {
                    layer.tips('已存在', '#updateCategoryType', {
                        tips: [2, '#008B8B'] //配置气泡位置和颜色   FF4500 橘色也还行，但有点突兀
                    });
                    $("#updateSubmit").attr("disabled", "disabled");
                } else {
                    $("#updateSubmit").removeAttr("disabled");
                }
            });
        });


        //把重复操作封装到一起
        function reload() {
            //执行搜索重载
            table.reload('test', {
                url: "/getAllBookCategory",
                page: { //表示重载后从第几页开始
                    curr: 1
                }
                , where: {  //携带的参数
                    categoryId: categoryId
                }
            });
            //搜索事件发生后，由于表格重新渲染，其他时间会失效，故再次调用
            addFunction();
        }
    });
</script>
</body>
</html>
